REACT_APP_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMzBjZjhkZjgxNTcyM2ExY2VjMmJmNmFlYzc0NDA4OSIsIm5iZiI6MTY2NzA1MTAwNi4yMDg5OTk5LCJzdWIiOiI2MzVkMmRmZTliYTg2YTAwODI2ZGU2YTciLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.ZBawrQp5aRST_FzUCn4HZ5W5OgIXacj9Zmmb4OpQKTU
REACT_APP_TMDB_BASE_URL=https://api.themoviedb.org/3
REACT_APP_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
